composer.lock
yarn.lock
.bash_history
coverage.xml

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/data/*
/var/cache/*
!/var/cache/.gitkeep
/var/log/php/*
!/var/log/php/.gitkeep
/var/log/nginx/*
!/var/log/nginx/.gitkeep
/var/sessions
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

### phpmetrics
/build

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
