includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    checkMissingIterableValueType: false
    symfony:
        container_xml_path: %rootDir%/../../../var/cache/dev/srcApp_KernelDevDebugContainer.xml
    bootstrapFiles:
        - %rootDir%/../../../bin/.phpunit/phpunit-9.5-0/vendor/autoload.php
    ignoreErrors:
        -
            message: '#Dotenv.*bootEnv#'
            path: tests/bootstrap.php
