{% extends '@SmartAuthentication/security/forgot_password.html.twig' %}

{% block smartsonata_box_header %}
    <div class="login-box-msg">
        <img src="{{ asset('/images/logo/smartbooster-logo.svg') }}" width="280" />
    </div>
{% endblock %}
