{% trans_default_domain 'email' %}

{% if is_email_preview is defined %}
    {% block documentation_help %}{% endblock %}
{% endif %}

{% if is_email_preview is not defined %}
<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
{% endif %}
    <div style="background-color: #e4e4ea;">
        <div style="
                max-width: 768px;
                display: block;
                margin: 0 auto;
                padding: 30px 0;
                ">
            <div style="padding-top: 15px; text-align: center; background-color: #ffffff;">
                <img src="{{ 'http://localhost/' ~ asset('images/logo/smartbooster-logo.svg') }}" alt="">
            </div>
            <div style="
                        padding: 30px 20px;
                        background-color: #ffffff;
                        color: #3f3f3f;
                    ">
                {% block content %}
                {% endblock %}
                <div style="font-style: italic">
                    {% block signature %}
                        <p>
                            <br>
                            {{ 'email.signature'|trans|raw }}
                            <br>
                        </p>
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% if is_email_preview is not defined %}
</body>
</html>
{% endif %}
